.cartTopSection {
  margin: 100px 0 70px 0;
}

.editingInput input::placeholder {
  font-size: 14px;
}

.labelForControlled {
  font-weight: 600;
}

.loginedUserName {
  color: red;
}

.linksControlled {
  color: #ccc;

  &:hover {
    color: red;
  }
}

.linksForControlled {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 30px;
  text-align: left;
}


.cancelBtn,
.cancelAccount {
  padding: 10px 25px;
  background-color: var(--color-white);
  border: none;
  margin-right: 10px;
}

.savechangesBtn {
  background-color: var(--color-light-orange);
  color: var(--color-white);
  padding: 10px 25px;
  border: none;
  border-radius: 5px;

  &:hover {
    color: black;
    background-color: var(--color-white);
    outline: 1px solid var(--color-light-orange);
  }
}

@media (min-width: 981px) and (max-width: 1200px) {
  .inputCart {
    padding: 10px 120px !important;
  }
}

@media (min-width: 767px) and (max-width: 1024px) {
  .controlledSectionCart {
    display: flex !important;
    text-align: center;
    gap: 50px;
  }

  .myOrders {
    position: relative;
    top: -22px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cartTopSection {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }

  .controlledSectionCart {
    margin-bottom: 50px;
    text-align: center;
    gap: 50px;
  }

  .linksForControlled {
    margin-bottom: 30px;
  }

  .labelForControlled {
    display: flex;
    align-items: center;
  }

  .myOrders {
    margin: 0 auto !important;
  }


  .editingInput {
    display: flex;
    flex-direction: column;
  }
}