.row .col-3 {
  padding: 30px 60px;
  box-shadow: 0 0 10px 0 rgba(233, 239, 233, 0.933);
}
.quantityInput {
  text-align: center;
  width: 40px;
}
.buttonsCart button {
  padding: 10px 25px;
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  transition: 0.5s;
  &:hover {
    background-color: black;
    color: #fff;
    border: 1px solid #fff;
  }
}
.cupponSection {
  margin-top: 50px;
}
.couponInput {
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.couponInput::placeholder {
  font-size: 14px;
}
.btnMyDesign {
  background-color: #db4444;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: 0.5s;
  &:hover {
    background-color: #fff;
    color: black;
    border: 1px solid #db4444;
  }
}
.cartTotal {
  width: 470px;
  height: 300px;
  border: 1px solid #ccc;
}
.cartTotalTitle {
  font-size: 18px;
  font-weight: 600;
}
.cartColSectionTitle {
  font-weight: 600;
  font-size: 18px;
}
.cartColSection {
  padding: 20px;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}
.quatityInputs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.cardTotalSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
}
.lastTotalSection {
  border-bottom: none;
}
.proceesBtn {
  padding: 15px 30px;
}
@media (min-width: 767px) and (max-width: 992px) {
  .cartColSection {
    padding: 10px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    display: block !important;
    text-align: center;
  }
  .quatityInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .cupponApply {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
  }
  .cartTotal {
    margin: 0 auto;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .productSection {
    display: flex !important;
    align-items: center !important;
  }
  .cupponApply {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
  }
  .cartTotal {
    margin: 30px auto;
  }
  .productSection {
    text-align: center;
  }
}
