.contactContainer {
  margin: 180px 0 !important;
}

.inputContainer {
  width: 837px;
  max-width: 100%;
}
.input::placeholder,
.msjInput::placeholder {
  font-size: 16px;
}
.msjInput::placeholder {
  position: absolute;
  top: 5px;
}
.inputs {
  display: flex;
  position: relative;
}
.input {
  width: calc(100% / 3);
  padding: 10px 0;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 5px;
}

.msjInput {
  margin-top: 20px;
  padding: 100px 0;
  width: 100%;
  background-color: #f5f5f5;
  border: none;
  outline: none;
  border-radius: 5px;
}

.btnSend {
  right: 0;
  background-color: #db4444;
  color: white;
  padding: 10px 30px;

  &:hover {
    border: 1px solid #db4444;
  }
}

@media (max-width: 1600px) {
  .footerRes {
    margin-left: 17px;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  .contactContainer {
    margin: 150px 0 !important;
  }
  .inputContainer {
    width: 600px;
    max-width: 100%;
    margin: 50px auto;
  }
  .callUsAndWriteuS {
    margin: 100px auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 50px;
  }
  .callUsDescription,
  .writeUsDescription {
    width: 20ch !important;
  }
  .divider {
    display: none;
  }
  .btnSend {
    position: relative;
    right: 200px;
    margin-top: 50px !important;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .pathLinks {
    text-align: center;
    margin-top: 180px !important;
  }
  .contactContainer {
    margin: 120px 0px 80px 0 !important;
  }

  .callUsAndWriteuS {
    display: block;
    margin: 0 auto;
    max-width: 92% !important;
    order: 2;
  }
  .divider {
    width: 100%;
  }
  .callUsDescription,
  .writeUsDescription {
    font-size: 12px;
  }
  .inputContainer {
    width: 350px;
    max-width: 100%;
    margin: 50px auto;
    order: 1;
  }
  .input::placeholder {
    font-size: 12px;
  }
  .btnSend {
    position: relative;
    right: 60px;
    /* padding: 10px 25px; */
    margin: 50px 0;
  }
}
