
.inputContainer {
  width: 837px;
  max-width: 100%;
}


.btnSend {
  right: 0;
  color: var(--color-white);
  padding: 10px 30px;

  &:hover {
    border: 1px solid var(--color-light-orange);
  }
}

textarea {
  resize: none;
}

.errorMsj {
  color: var(--color-red);
  font-size: 10px;
}



@media (min-width: 767px) and (max-width: 1024px) {
  .contactContainer {
    margin: 150px 0 !important;
  }

  .inputContainer {
    width: 600px;
    max-width: 100%;
  }

  .callUsAndWriteuS {
    margin: 100px auto;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    gap: 50px;
  }

  .callUsDescription,
  .writeUsDescription {
    width: 20ch !important;
  }

  .divider {
    display: none;
  }

  .btnSend {
    position: relative;
    right: 200px;
    margin-top: 50px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .contactContainer {
    margin: 160px 0px 80px 0 !important;
  }

  .callUsAndWriteuS {
    display: block;
    margin: 0 auto;
    max-width: 92% !important;
    order: 2;
  }

  .divider {
    width: 100%;
  }

  .callUsDescription,
  .writeUsDescription {
    font-size: 12px;
  }

  .inputContainer {
    width: 350px;
    max-width: 100%;
    margin: 50px auto;
    order: 1;
  }

  input::placeholder, textarea::placeholder {
    font-size: 12px !important;
  }

  .btnSend {
    position: relative;
    right: 60px;
    /* padding: 10px 25px; */
    margin: 50px 0;
  }
}