/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* common classes */
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-error {
    font-size: 110px;
}

.m-left-2 {
    margin-left: 3rem;
}

.m-top-5 {
    margin-top: 3.5rem;
}

.m-top-10 {
    margin-top: 10rem;
}

.p-end {
    padding-right: 6rem;
}

.box-div {
    height: 300px;
}

.box-btn {
    width: 39px;
    height: 32px;
}

.box-btn-md {
    width: 39px;
    height: 40px;
}

.box-btn-l {
    width: 54px;
    height: 54px;
}

.box-btn-xl {
    width: 80px;
    height: 40px;
}

.crusor-p {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-solid-secondary);
}


/* header  */
.header-top-content {
    margin-left: 20rem;
}

input[type="search"]::-webkit-search-clear-button,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="search"] {
    -webkit-appearance: none;
    appearance: none;
}

.srch-input::placeholder {
    font-size: 12px;
    opacity: 0.5;
    padding: 7px 12px 7px 5px;
}

.search-icon {
    top: 15%;
    right: 3%;
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    min-width: 5rem;
    text-align: center;
}

.navbar-toggler {
    display: none;
}

.card-dropdown {
    top: 36px;
    right: 5px;
}

/* main */
.main-container {
    margin-top: 6rem;
}

.carousel-text {
    font-size: 3rem;
    margin-top: 2rem;
}

.home-carousel-indicators {
    top: 100%;
}

.icon-carousel {
    width: 8px !important;
    height: 8px !important;
    border-radius: 50%;
    border: 2px solid var(--color-solid-secondary) !important;
}

.w-full {
    width: 85%;
}

.badge-wishlist {
    left: 29%;
}

/* responsive */

@media (max-width: 1200px) {
    .left-navbar-icons {
        display: none;
    }

    .header-top-content {
        margin-left: 1rem;
    }

    .fs-14 {
        font-size: 10px;
    }

    .navbar-nav {
        justify-content: center;
        flex-direction: row;
    }

    .home-carousel-indicators {
        top: 105%;
    }
}

@media (max-width: 991px) {
    .left-navbar {

        border: none;
        margin-top: 50px;
        font-size: 12px;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .left-navbar li {
        padding: 2px 3px;
    }

    .home-carousel-indicators {
        top: 90%;
    }

    .p-end {
        padding-right: 0rem;
    }


}

@media (max-width: 768px) {

    .carousel-text {
        margin-top: 10px;
        font-size: 14px;
    }

    .carousel-content span {
        margin-left: 2px !important;
    }

    .carousel-content img {
        width: 30px;
        height: 39px;
    }

    .carousel-link {
        margin-top: 5px !important;
        padding-bottom: 20px;
    }

    .carousel-link,
    .carousel-content span {
        font-size: 13px;
    }

    .w-full {
        width: 100%;
    }

    .card-dropdown {
        right: -4px;
    }

    .loader-card {
        width: 13%;
        z-index: 99;
    }
}

@media (max-width: 420px) {
    .m-left-2 {
        margin-left: 1rem;
    }

    .navbar-toggler {
        display: block;
    }

    .badge-wishlist {
        left: 20%;
    }
}