/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* common classes */
.bg-solid-secondary {
    background-color: #F5F5F5;
}


.bgBlack {
    background-color: rgb(0, 0, 0);

}

.bg-light-orange {
    background-color: #DB4444 !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.m-left-2 {
    margin-left: 3rem;
}

.crusor-p {
    cursor: pointer;
}

/* header  */
.header-top-content {
    margin-left: 20rem;
}

input::placeholder {
    font-size: 12px;
    opacity: 0.5;
    padding: 7px 12px 7px 20px;
}

.search-icon {
    top: 15%;
    right: 0%;
    width: 24px;
    height: 24px;
}

.dropdown-menu {
    min-width: 5rem;
    text-align: center;
}

.navbar-toggler {
    display: none;
}

/* main */
.main-container {
    margin-top: 6rem;
}

.carousel-text {
    font-size: 3rem;
    margin-top: 2rem;
}

.carousel-indicators {
    top: 108%;
}

.icon-carousel {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    border: 2px solid #F5F5F5 !important;
}

/* responsive */
@media (max-width: 1024px) {
    .header-top-content {
        margin-left: 1rem;
    }

    .fs-14 {
        font-size: 10px;
    }

    .navbar-nav {
        justify-content: center;
        flex-direction: row;
    }


}

@media (max-width: 420px) {

    .navbar-toggler {
        display: block;
    }
}