.thumbnail {
    top: 0px;
    left: -13px;
}

.thumbnail [data-bs-target] {
    box-sizing: border-box;
}

.thumbnail button {
    width: 100px !important;
}

.box-btn:hover {
    background-color: var(--color-light-orange);
    color: var(--color-solid-secondary);
}

.radio-btn {
    width: 17px;
    height: 17px;
}

.radio-btn {
    background-color: var(--color-light-blue)
}

.radio-btn:checked {
    background-color: var(--color-light-blue);
    border: 2px solid #0000;
}