.thumbnail {
    top: 0px;
    left: -13px;
}


.thumbnail [data-bs-target] {
    box-sizing: border-box;
}

.thumbnail button {
    width: 100px !important;
}

.box-btn:hover {
    background-color: var(--color-light-orange);
    color: var(--color-solid-secondary);
}

.radio-btn {
    width: 17px;
    height: 17px;
}

.radio-btn {
    background-color: var(--color-light-blue)
}

.radio-btn:checked {
    background-color: var(--color-light-blue);
    border: 2px solid #0000;
}

@media (max-width: 568px) {

    .thumbnail {
        flex-direction: row !important;
        gap: 13px;
    }

    .th-nail-container {
        position: absolute !important;
        top: 70%;
        left: 0%
    }

    .thumbnail button {
        width: 90px !important;

    }

    .slide-content {
        width: 100%;
        padding: 0 !important;
    }

    .slide-img {
        margin-left: 12px;
    }

}

@media (min-width: 490px) and (max-width: 567px) {
    .img-w {
        max-width: 70% !important;
    }
}

@media (max-width: 420px) {
    .thumbnail button {
        width: 70px !important;

    }

}